:root{
    --text-light: #ffffff;
    --text-dark: #4d4d4d;
    --text-darker: #333333;
    --bg-light: #ffffff;
    --bg-light-grey: #f1f1f1;
    --bg-dark-grey: #f1f1f1;
    --bg-backdrop: #0000006e;
    --bg-back-btn: #3390db;
    --bg-hover-back-btn: #2179c0;
    --bg-directions-btn: #1daa80;
    --bg-hover-directions-btn: #158f6a;
    --bg-danger-btn: #d63636;
    --bg-hover-danger-btn: #c93232; 
    --bg-help-btn: #b742ee;
    --bg-hover-help-btn: #9127c2;
    --box-shadow: 0px 2px 10px 0px #949494;
    --transition-short: all 0.2s ease;
    --transition-medium: all 0.5s ease;
    
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Open Sans', sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

button {
    border: none;
    color: var(--text-light);
    cursor: pointer;
    transition: var(--transition-short);
}

.functionality-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 450px;   
}

form {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-light);
    box-shadow: var(--box-shadow);
}

.form-input {
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    padding: 10px;
    border-radius: 4px;
}

#search-results {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#search-results.show {
    display: block;
}

#search-results li {
    padding: 10px 15px;
    border-bottom: 1px solid var(--bg-light-grey);
    cursor: pointer;
}

#search-results li:hover {
    background-color: var(--bg-light-grey);
}

input {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    margin-left: 10px;
    border: none;
    font-size: 15px;
}

input:focus {
    outline: none;
    background-color: var(--bg-light-grey);
}

.btn-clear-input {
    color: var(--text-dark);
    background-color: transparent;
    font-size: 18px;
}

.btn-clear-input:hover {
    color: var(--text-darker);
}

.marker {
    background-image: url('./assets/marker.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.marker.selected {
    background-image: url('./assets/marker-selected.png');
}

.buttons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.buttons button {
    height: 40px;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 10px;
}

.btn-clear {
    background-color: var(--bg-back-btn);
    width: 170px;
}

.btn-clear:hover {
    background-color: var(--bg-hover-back-btn);
}

.btn-directions {
    background-color: var(--bg-directions-btn);
    width: 150px;
}

.btn-directions.on, .btn-clear-route {
    background-color: var(--bg-danger-btn);
}

.btn-directions:hover {
    background-color: var(--bg-hover-directions-btn);
}

.btn-directions.on:hover, .btn-clear-route:hover  {
    background-color: var(--bg-hover-danger-btn);
}

.btn-clear-route {
    width: 100px;
    background-color: var(--bg-danger-btn);
}

.mapboxgl-popup {
    max-width: 250px;
}

.mapboxgl-popup-close-button {
    color: var(--text-dark);
    font-size: 22px;
}

.mapboxgl-popup-content {
    font-family: 'Open Sans', sans-serif;
}

.btn-remove-marker {
    background-color: var(--bg-danger-btn);
    padding: 5px 10px;
}

.btn-remove-marker:hover {
    background-color: var(--bg-hover-danger-btn);
}


.status-box {
    position: absolute;
    bottom: 50px;
    left: 20px;
    width: 200px;
    background-color: var(--bg-light);
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: none;
}

.status-box.show {
    display: block;
}

.instructions-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition-medium);
    opacity: 0;
}

.instructions-modal.show {
    opacity: 1;
    z-index: 2;
    transition: var(--transition-medium);
}

.instructions-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-backdrop);
}

.instructions-content {
    width: 90%;
    max-width: 500px;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: var(--bg-light);
    border-radius: 10px;
    position: relative;
    transition: var(--transition-medium);
}

.instructions-modal.show .instructions-content {
    top: 50%;
}

.instructions-content ul {
    padding-left: 10px;
}

.instructions-content li {
    margin: 8px 0;
}

.btn-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 1px 0 0 1px;
    font-size: 18px;
    background-color: var(--bg-danger-btn);
}

.btn-close-modal:hover {
    background-color: var(--bg-hover-danger-btn);
}

.btn-help {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--bg-help-btn);
    box-shadow: var(--box-shadow);
    position: absolute;
    bottom: 50px;
    right: 20px;
    z-index: 3;
}

.btn-help:hover {
    background-color: var(--bg-hover-help-btn);
}

@media(min-width: 481px) {
    .functionality-container {
        left: 20px;
        transform: translateX(0);
    }
    .buttons {
        flex-flow: row;
        margin-bottom: 10px;
    }
    .buttons button {
        margin-bottom: 0;
        padding: 10px ;
        width: fit-content;
    }
    .directions-info {
        width: 250px;
    }
}